@import "../../../../styles/_variables";

.registration-information {
  // position: absolute;
  top: 120px;
  width: 100%;
  font-family: "Mada", sans-serif;
  font-style: normal;

  header {
    border-bottom: 4px solid #1d8695;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 62px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 40px;

    h1 {
      font-weight: normal;
      font-size: 48px;
      line-height: 62px;
      color: #2b2b2b;
      margin-bottom: 0;
    }

    .link-container {
      .link {
        font-weight: 500;
        font-size: 21px;
        line-height: 80px;
        vertical-align: baseline;
        color: #2b2b2b;
        text-decoration: none;
        margin-left: 40px;
      }

      .red {
        color: #e71829;
      }
    }
  }

  .body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
    margin-top: 10px;
    padding-left: 5%;
    padding-right: 5%;

    h2 {
      font-size: 40px;
      font-weight: normal;
      margin-top: 20px;
      color: #2b2b2b;
    }

    p {
      font-weight: normal;
      font-size: 21px;
      line-height: 27px;
      margin-left: 4%;
      color: #2b2b2b;
    }

    img {
      height: 305px;
      width: 517px;
      margin-left: 4%;
      margin-top: 10px;
    }

    .body-left {
      width: 44%;
      margin-left: 3%;
    }

    .body-right {
      width: 44%;
      margin-left: 3%;
      margin-bottom: 50px;

      h2 {
        font-size: 36px;
        line-height: 47px;
      }

      h3 {
        font-weight: 500;
        font-size: 30px;
        line-height: 39px;
        color: #2b2b2b;
        margin-left: 5%;
      }

      p {
        margin-left: 10%;
      }

      .button {
        // width: 244px;
        // height: 40px;
        background: #b91321;
        border: none;
        border-radius: 7px;
        color: white;
        font-weight: bold;
        margin-left: 20%;
        margin-top: 20px;
        padding: 12px 80px 12px 80px;
        display: inline-block;
      }
    }
  }
}