@import "../../../../styles/_variables";
@import "../../../../styles/_mixins";

.nav {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FFFFFF;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
  // position: fixed;
  // width: 100%;
  // z-index: 20;

  .navbar-left {
    .logo {
      font-size: 24px;
      color: white;
      font-weight: 700;
      margin-left: 50px;
      cursor: pointer;
      .logo-image {
        width: 100px;
        height: 75px;
      }
    }
  }
  .navbar-right {
    display: flex;
    justify-content: space-around;
    align-items: center;

    a {
      margin-right: 40px;
      font-size: 18px;
      color: #05293E;
    }

    a:hover {
      cursor: pointer;
    }

    .button {
      border: 0.8px solid #C73642;
      color: #C73642;
      padding: 5px 10px 5px 10px;
      font-size: 18px;
      margin-right: 20px;
      border-radius: 3px;
    }

    button:hover {
      cursor: pointer;
    }
  }
}