@import "../../../../styles/variables";

footer {
  position: absolute;
  // bottom: -27.93%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .contacts {
    background: #f2f2f2;
    height: 142px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;

    .icons {
      width: 375px;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      padding-top: 15px;
    }

    .address {
      display: flex;
      flex-direction: row;

      p {
        font-family: "Roboto", sans-serif;
        font-size: 12px;
        line-height: 14px;
        color: #99bbcc;
        margin-left: 5px;
      }
    }

    .email {
      display: flex;
      flex-direction: row;

      p {
        font-family: "Roboto", sans-serif;
        font-size: 12px;
        line-height: 14px;
        color: #99bbcc;
        margin-left: 5px;
      }
    }
  }

  .links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 40px;

    p {
      color: #99bbcc;
      font-family: "Roboto", sans-serif;
      font-size: 12px;
      line-height: 14px;
      margin-top: 18px;
      margin-right: 30px;
    }
  }
}