.student-card {
  /* border: 1px solid red; */
  float: right;
  height: auto;
  width: 100%;
}

.back-button {
  width: 20%;
  margin-top: 15px;
}
.student-title h2{
   width: 70%;
   margin: 30px 0 0 0;
}

.student-title p{
   width: 70%;
   margin: 0 0 0 0;
}

.student-card-tabs{
   display: flex;
}

.student-card-tabs h4{
   height: fit-content;
   margin: 25px 20px 0 0;
   text-decoration: underline;
}