.coursesTable .ant-table-thead > tr:first-child th{
    border-left: 15px solid white;
    background: #26ABBD;
    color: white;
}

.coursesTable .ant-table-thead > tr:first-child th:last-child{
    background: white;
}

.coursesTable .ant-table-column-sorters::before {
    background:#26ABBD !important;
}

.coursesTable .ant-table-thead > tr:first-child > th:last-child{
    border-radius: 0;
}


