.grid-container {
  display: grid;
  height: 600px;
  /* border: 2px solid black; */
  /* background-color: #F7F7F8; */
  opacity: 0.9;
  grid-gap: 5%;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr; 
  grid-auto-flow: row;
  grid-template-columns: repeat(4, 1fr);
  text-align: left;
}   

.row1 {
margin-left: 10%;
}

.row2{
  margin-left: 10%;
  grid-row: 2;
}
.row3 {
  margin-left: 10%;
  grid-row: 3;
}

.row4 {
  margin-left: 10%;
  grid-row: 4;
}
.row5 {
  grid-row: 5;
  margin-left: 10%;
}

.ui.segment.tab.active{
  border: none;
  padding: 0 0 0 0;
}
.ui.secondary.pointing.menu{
  border-bottom: none;
}
.button-container {
  grid-row: 5/4;
} 


.placement-button {
  border-radius: 15px;
  height: 61px;
  width: 246px;
  margin-top: 10%;
  margin-left: 10%;
}

.placement-button:hover {
  background-color: #FFC8C8;
}
