@import "../../styles/variables";

.userDashboardHeader .logOut {

    // copied from marketing/Header.scss for now; change to a mixin later
    display: inline-block;

    font-size: 1.5rem;
    line-height: 3rem;
    
    padding: 0 1rem;
    color: $tree-green;
    border-bottom: 3px solid transparent;

    &:hover {
        border-bottom: 3px solid $tree-peacock;
    }

}

.userDashboard {

    width: 90%;
    margin: 0 auto;


    h1 {
        font-size: 2.5rem;
        margin: 3rem 0;
        text-align: left;
    }

    .messageBox {
        
        border: 3px solid black;
        padding: 1rem;

        background-color: #EEEEEE;

        li {
            font-size: 1.25rem;
            margin-bottom: 1rem;
        }
    }

    button {

        display: block;

        margin: 2rem 0 2rem auto;
        
        font-size: 1.5rem;
        line-height: 3rem;
        padding: 0 1rem;

        color: black;
        background-color: #EEEEEE;

        border: 3px solid black;
        border-radius: 5px;

        cursor: pointer;

        &:hover {
            background-color: #CCCCCC;
        }
    }
}


.modal-displayed {
    display: block;
}

.modal-hidden {
    display: none;
}

.addStudentModal {

    z-index: 2;

    position: fixed;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);

    overflow: auto;

}

.addStudentModalContents {
    width: 80vw;
    
    margin: 5vh 10vw;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

    border: 3px solid black;
    background-color: #EEEEEE;

    h2 {
        margin: 1rem auto 0 auto;
    }

    .modalButtons {

        display: flex;
        justify-content: flex-end;

        width: 100%;

        margin: 2rem 0;

        button {
            margin: 0 2rem;
        }
    }

    // new styles for StudentRegistrationForm in adminDashboard
    .userAddStudentForm {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        div {
            width: 100%;
            margin: 0.25rem auto;
        }
    }

    .form-button-div {

        display: flex;
        justify-content: flex-end;

        button {
            font-size: 1rem;
            line-height: 1rem;
            height: 2rem;
            margin-left: 2rem;
        }
    }
}


.studentCourseCard {

    border: 3px solid black;
    padding: 1rem;

    margin-bottom: 2rem;

    background-color: #EEEEEE;

    .nameAndHamburgerMenu {

        display: flex;
        justify-content: space-between;

        margin-bottom: 2rem;


        img {
            width: 32px;
            height: 32px;

            cursor: pointer;
        }
    }

    .firstName {
        font-size: 2rem;
        margin-bottom: 0;
    }

    .additionalNames {
        margin: 0;
    }

    .courseData {

        margin-bottom: 5rem;

        .logoAndProgram {

            display: flex;
            align-items: center;

            img {
                width: 64px;
                height: auto;

                margin-right: 1rem;
            }
        }

        h3 {
            font-size: 2rem;
            font-weight: bold;
        }

        table {
            margin: 2rem 0 2rem auto;

            thead {
                border-bottom: 2px solid black;
            }

            td, th {
                font-size: 1.25rem;
                line-height: 2.5rem;

                padding: 0 1rem;
            }

            .startEndDatesTimes {
                line-height: 2rem;
            }
        }

        button {
            margin: 0;
            padding: 0 0.5rem;

            font-size: 1rem;
            line-height: 1.5rem;

            border: 2px solid;

            background-color: #CCCCCC;
        }
    }

    .noCourses {
        font-size: 1.5rem;
        font-style: oblique;

        text-align: center;

        margin: 5rem;
    }

}

