@import "../../styles/variables";

.userDashboardHeader .logOut {

    // copied from marketing/Header.scss for now; change to a mixin later
    display: inline-block;

    font-size: 1.5rem;
    line-height: 3rem;
    
    padding: 0 1rem;
    color: $tree-green;
    border-bottom: 3px solid transparent;

    &:hover {
        border-bottom: 3px solid $tree-peacock;
    }

}

.userDashboard {

    h1 {
        margin: 2rem;
        text-align: left;
    }

    .messageBox {
        width: 90%;
        margin: 0 auto;

        border: 2px solid black;
        padding: 1rem;

        li {
            font-size: 1rem;
            line-height: 2rem;
        }
    }

    .addStudent {

        display: block;

        margin: 2rem 5% 2rem auto;
        
        line-height: 2rem;
        padding: 0 1rem;

        color: black;
        background-color: white;

        border: 2px solid black;
        border-radius: 5px;

        cursor: pointer;

        &:hover {
            background-color: #CCCCCC;
        }
    }

}
