@import "../../../../../styles/_variables.scss";
@import "../../../../../styles/_mixins.scss";



section.hero {
    // margin-top: 100px;
    height: calc(100vh);
    background: linear-gradient(rgba(14, 115, 159, 0.75) 10%, transparent 50%), url('../../../../../assets/hero-image.jpg');
    background-position: 50% 40%;
    background-repeat: no-repeat;
    background-size: cover;

    @media #{$tablet-small} {
        background: linear-gradient(rgba(8, 46, 62, 0.75) 10%, rgba(11, 71, 97, 0.3) 30%), url('../../../../../assets/hero-image.jpg');
        background-position: 75% 50%;
    }

    .wrap {
        // margin-top: 200px;
        width: 90%;
        height: 100%;
        margin: 0 auto;
        position: relative;

        div.content-box {
            text-align: left;
            position: absolute;
            right: 0;
            top: 50%;
            width: 25vw;

            @media #{$tablet-small} {
                top: initial;
                bottom: 5%;
            }

            div.flex {
                display: flex;
                justify-content: space-between;
            }
        }
    }

    h1 {
        font-family: $font-family;
        color: $fog;
        font-size: 6.4rem;
        font-weight: 500;;
        text-align: left;
        position: absolute;
        top: 15%;

        @media #{$tablet} {
            font-size: 4.4rem;
            top: 7%;
        }

        @media #{$tablet-small} {
            font-size: 4rem;
            line-height: 1;
        }
    }

    h2 {
        font-family: $font-family;
        color: #fff;
        font-size: 3.4rem;

        @media #{$tablet} {
            font-size: 3rem;
        }

        @media #{$tablet-small} {
            font-size: 2.5rem;
        }
    }

    .button {
        font-family: $font-family;
        color: white;
        font-size: 1.3rem;
        font-weight: 600;
        border: none;
        background-color: $deep-red;
        padding: 17px 40px;
        border-radius: 7px;

        @media #{$tablet-small} {
            padding: 11px 7%;
        }
    }
}