//Imports

@import '../../styles/variables';


// Footer
@import './components/Footer.scss';

// Header
@import './components/Header.scss';

<<<<<<< HEAD
// Home page
@import './components/Home.scss';
=======
@import './components/CourseStructure.scss';
@import './components/ContactUs.scss';
>>>>>>> 14d617837ae40874cf6d278c8f401954699edf83

// Global Styles

.content {
    min-height: calc(100vh - 300px); // determine exact value later
}

section {
    text-align: left;
    padding: 1rem;
}

.section-even, .section-odd {
    text-align: center;

    width: 100vw;
    margin-left: -1rem;
}

.section-even{
    background-color: $heading-bg-one;
}

.section-odd{
    background-color: $heading-bg-two;
}

.two-column {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    margin-bottom: 1rem;
}

.two-column-left, .two-column-right {
    width: 45vw;
}
