.ui.secondary.pointing.menu .active.item{
    color: #26ABBD;
    border-color: #26ABBD;
}
.ui.secondary.pointing.menu .active.item:hover{
    color: #26ABBD;
    border-color: #26ABBD;
}
.ui.secondary.pointing.menu .item:hover{
    color: #26ABBD !important;
}