@import "../../../../../styles/_variables.scss";
@import "../../../../../styles/_mixins.scss";

section.registration {
    padding: 68px 0;
    background-color: $light-grey;
    height: 420px;
    margin-bottom: 250px;

    @media #{$tablet-small} {
        padding: 40px 0;
        height: 385px;
    }

    h2 {
        color: $dark-grey;
        font-family: $font-family;
        font-weight: 400;
        font-size: 3.4rem;
        margin-bottom: 35px;

        @media #{$tablet-small} {
            font-size: 3rem;
        }
    }

    img {
        position: relative;
        margin-top: 71px;

        @media #{$tablet-small} {
            max-width: 450px;
            margin-top: 85px;
        }
    }

    .button {
        font-family: $font-family;
        font-size: 1.3rem;
        font-weight: 600;
        border: none;
        color: white;
        background-color: #C73642;
        padding: 18px;
        margin-right: 20px;
        border-radius: 7px;
        display: block;
        max-width: 420px;
        width: 85%;
        margin: 0 auto;
    }
}