@import '../../../styles/variables';
@import '../../../styles/mixins';

.home{
    
}
.knowledge{
    height: 30vh;
    background:linear-gradient(rgba(8, 46, 62, 0.75) 10%, rgba(11, 71, 97, 0.3) 30%), url('../../../assets/hero-image.jpg');
    background-position: 50% 40%;
    background-repeat: no-repeat;
    background-size: cover;
    
    h1{
        padding-top: 3%;
        font-size: 2.5rem;
    }
}

.knowledge-buttons{
        margin: 5% 0;

        a {
            font-family: $font-family;
            color: white;
            font-size: 1.3rem;
            font-weight: 600;
            border: none;
            background-color: $button-green;
            padding: 11px 7%;
            border-radius: 7px;
            margin: 0 6%;
        }
    }

.why-special{
    margin-top: 3%;
    h2{
        font-size: 3.5rem;

        // text-decoration: underline solid $tree-peacock;
    }

    h3{
        font-size: 1.5rem;
        font-weight: 900;
        color:black;
        margin: 1% auto;
    }
    
    p{
        font-size: 1.5rem;
        color: black;
    }

}

.learn-from-best{
    display: flex;
    justify-content: space-evenly;
    p{
        padding-top: 1%;
        width: 40%;
        text-align: left;
    }
    img{
        width: 40%;
        border-radius: 10px;
    }
}

.fun{
    h3{
        margin: 5% 0;
    }
    img{
        width: 85%;
        margin: 3% 0;
        border-radius: 10px;
    }
}

section.afford{
    background: url('../../../assets/plant-growing-from-jar-of-coins.jpg');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 8% 0;
    text-align: left;

    p{
        font-size: 1.5rem;
        font-weight: 700;
    }
    .afford-text{
        width: 30%;
        margin-left: 55%;
    }
}


