.registration-container {
    h1 {
        text-align: center;
    }
}

.placement-test {
    display: flex;
    justify-content: space-around;

    img {
        width: 40%;
    }

    div {
        width: 40%;

        h2 {
            text-align: center;
        }
    
        p {
            text-align: center;
        }
    }


}

.terms {
    display: flex;
    justify-content: space-around;

    img {
        width: 40%;
    }

    div {
        width: 50%;

        h2 {
            text-align: center;
        }
    
        p {
            text-align: center;
        }
    }

}

.fees {
    display: flex;
    justify-content: space-around;

    img {
        width: 40%;
        margin: 2%;
    }

    div {
        h2 {
            text-align: center;
        }
    
        p {
            text-align: center; 
        }
    }

}