@import "../../../../../styles/_variables.scss";
@import "../../../../../styles/_mixins.scss";

section.special {
    padding: 4% 0;

    @media #{$tablet-small} {
        padding: 8% 0;
    }

    .flex {
        display: flex;
        justify-content: space-around;

        @media #{$tablet-small} {
            flex-direction: column;
            align-items: center;
        }

        > div {
            max-width: 450px;

            &:first-child {
                @media #{$tablet-small} {
                    margin-bottom: 50px;
                }
            }
        }
    }

    .wrap {
        max-width: 1200px;
        margin: 0 auto;
    }

    h2 {
        color: $medium-blue;
        font-family: $font-family;
        font-weight: 400;
        font-size: 3.4rem;
        margin-bottom: 50px;
        display: inline-block;
        padding: 0 0 10px;
        border-bottom: 2px solid $main-red;

        @media #{$tablet-small} {
            font-size: 2.6rem;
        }
    }

    h3 {
        color: $medium-blue;
        font-family: $font-family;
        font-weight: 500;
        font-size: 2.85rem;

        @media #{$tablet-small} {
            font-size: 2rem;
        }
    }

    p {
        color: $medium-blue;
        font-size: 1.7rem;
        font-family: $font-family;

        @media #{$tablet-small} {
            font-size: 1.2rem;
        }
    }

    img {
        border-radius: 10%;
    }
}