@import "../styles/variables";

* {border: 1px solid purple; }

    .form-container {
      // background: #ffffff;
      // height: 443px;
      // width: 450px;
      // border-radius: 10px;
      // margin-top: 80px;
      // margin: 40px 40px 40px 0px;

      width: 90vw;
      
      h1 {
        font-family: "Mada", sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 48px;
        line-height: 62px;
        color: #0c435a;
        margin-top: 1rem;

        text-align: center;

      }
    }
    form {
      fieldset {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        label {
          display: none;
        }

        input {
          border: none;
          border-bottom: 1px solid black;
          border-radius: 0;
          width: 298px;
          height: 27px;
          padding-bottom: 5px;
          margin-top: 5%;
          
        }

        input:focus {
          border-bottom: 1px solid #197380;
          outline-width: 0;
        }
      }

      .register {
        display: flex;
        justify-content: center;
        
        color: #197380;

        p {
          margin-right: 5px;
        }

        .reg-link {
          text-decoration: underline;
          color: #197380;
        }
      }

      button {
        width: 298px;
        height: 40px;
        border: 1px solid #c73642;
        border-radius: 7px;
        color: white;
        background-color: #c73642;
        
        margin-top: 5%;
        font-weight: bold;
      }

      // button should be white with red border and text if the user hasn't entered all the info
      // button becomes red with white text when ready to submit
      .disabled {
        color: #c73642;
        background-color: white;
      }

      button:focus {
        outline-width: 0;
      }

      button:hover {
        cursor: pointer;
      }
    }
