@import "../styles/variables";
// @import "../styles//global.scss";

.login {
  // height: 1208px;
  // width: 1440px;
  // background: #ffffff;
  display: flex;
  justify-content: center;
  // width: 100%;

  // .nav {
  //   box-shadow: none;
  //   background: #ffffff;
  // }

  .login-body {
    height: 625px;
    // width: 1029px;
    // position: absolute;
    // left: 204px;
    // margin-left: 14.7%;
    margin-top: 100px;
    margin-bottom: 100px;
    top: 223px;
    background: #e0ebf0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-top: 5px solid #c73642;
    align-items: center;

    

    .img-container {
      // margin-top: 175px;
      padding: 40px;

      img {
        width: 100%;
        height: auto;
      }
    }

    .form-container {
      background: #ffffff;
      height: 443px;
      width: 450px;
      border-radius: 10px;
      margin-top: 80px;
      margin: 40px 40px 40px 0px;

      h1 {
        font-family: "Mada", sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 48px;
        line-height: 62px;
        color: #0c435a;
        margin-top: 80px;
      }
    }
    form {
      fieldset {
        display: flex;
        flex-direction: column;

        label {
          display: none;
        }

        input {
          border: none;
          border-bottom: 1px solid black;
          border-radius: 0;
          width: 298px;
          height: 27px;
          padding-bottom: 5px;
          margin-top: 30px;
          margin-left: 65px;
        }

        input:focus {
          border-bottom: 1px solid #197380;
          outline-width: 0;
        }
      }

      .register {
        display: flex;
        flex-direction: row;
        margin-left: 75px;
        color: #197380;

        p {
          margin-right: 5px;
        }

        .reg-link {
          text-decoration: underline;
          color: #197380;
        }
      }

      button {
        width: 298px;
        height: 40px;
        border: 1px solid #c73642;
        border-radius: 7px;
        color: white;
        background-color: #c73642;
        margin-left: 65px;
        margin-top: 30px;
        font-weight: bold;
      }

      // button should be white with red border and text if the user hasn't entered all the info
      // button becomes red with white text when ready to submit
      .disabled {
        color: #c73642;
        background-color: white;
      }

      button:focus {
        outline-width: 0;
      }

      button:hover {
        cursor: pointer;
      }
    }
  }
}
