@import "../styles/variables";

    .form-container {

      margin: 0 auto;
      padding-top: 3rem;
      text-align: center;

      width: 90vw;
      max-width: 800px;

      min-height: calc(100vh - 295px);
      
      @media #{$desktop} {
        min-height: calc(100vh - 443px);
      }

      h1 {
        font-size: 3rem;

      }
    }
    
    form {
        display: flex;
        justify-content: center !important;
        align-items: center !important;
        flex-direction: column;
        text-align: center;

      fieldset {
        display: flex;
        justify-content: center !important;
        align-items: center !important;
        flex-direction: column;
        text-align: center;

        label {

          font-size: 1.5rem;

          font-weight: bold;
          color: $tree-green;
          display: block;
        }

        input {
          border: none;

          font-size: 1.5rem;
          line-height: 2rem;

          margin-top: 1rem;
          margin-bottom: 2rem;
          
          border-bottom: 3px solid #999999;

        }

        input:focus {
          border-bottom: 3px solid $tree-light-green;
        }
      }

      .register, .login-errors {
        
        text-align: center;

        color: $tree-green;

        p {
          margin: 0;
        }

        .reg-link {
          text-decoration: underline;
          color: $tree-green;
        }
      }

      .login-errors {

        margin-top: 1rem;

        color: $tree-brown;
        font-weight: bold;
      }

      button {
        width: 200px;
        
        font-size: 1.5rem;
        line-height: 3rem;

        border: 1px solid transparent;

        border-radius: 7px;
        color: white;
        background-color: $tree-green;
        
        margin: 0 auto;
        margin-top: 2rem 0;
      }

      // button should be white with red border and text if the user hasn't entered all the info
      // button becomes red with white text when ready to submit
      .disabled {
        color: $tree-light-green;
        background-color: white;
      }

      button:focus {
        outline-width: 0;
      }

      button:hover {
        cursor: pointer;

        background-color: lighten($tree-green, 10%);
      }
    }
