@import "../styles/_variables.scss";
.parent-reg {
  // position: absolute;
  top: 120px;
  width: 100%;
  font-family: "Mada", sans-serif;
  font-style: normal;
  margin-top: 40px;
  margin-bottom: 100px;
  .top-section {
    display: flex;
    justify-content: space-between;
    .top-left {
      text-align: left;
      margin-left: 8%;
      width: 40%;
      h1 {
        color: #0c435a;
        font-weight: 500;
        font-size: 48px;
        line-height: 62px;
        white-space: nowrap;
      }
      p, li {
        color: #335366;
        font-weight: bold;
        font-size: 24px;
        line-height: 31px;
      }
      .top-left-end {
        font-weight: normal;
        color: #15606a;
      }
    }
    .top-right {
      width: 40%;
      margin-right: 5%;
      text-align: left;
      margin-left: 15%;
      margin-top: 20px;
      h4 {
        color: #114d55;
        font-weight: bold;
        font-size: 22px;
        line-height: 26px;
      }
      .contact-container {
        border: 2px solid #b91321;
        border-radius: 6px;
        width: 442px;
        height: 200px;
        .address {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-top: 20px;
        }
        .telephone {
          display: flex;
          justify-content: space-between;
          align-items: center;
          .contact-second {
            margin-right: 155px;
          }
        }
        .contact-first {
          font-weight: bold;
          font-size: 16px;
          line-height: 42px;
          color: #114d55;
          margin-left: 60px;
        }
        .contact-second {
          font-weight: normal;
          font-size: 16px;
          line-height: 22px;
          color: #32747d;
          margin-right: 30px;
        }
      }
      button {
        width: 189px;
        height: 40px;
        border: 1px solid #c73642;
        border-radius: 7px;
        background: white;
        font-weight: bold;
        font-size: 14px;
        line-height: 18px;
        color: #c73642;
        margin-left: 30%;
      }
    }
  }
  .horiz-line {
    position: relative;
    border-bottom: 2px solid #c73642;
    width: 60%;
    margin-left: 20%;
    z-index: -1;
    top: 85px;
    height: 20px;
  }
  .progress-bar {
    .circles {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-top: 50px;
      margin-left: 20%;
      width: 60%;
      div {
        background: white;
        border: 1px solid #c73642;
        border-radius: 50%;
        width: 64px;
        height: 64px;
      }
      .active-register {
        background: #c73642;
        color: white;
        padding-top: 20px;
        font-size: 25px;
      }
    }
    .circle-labels {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 65%;
      margin-left: 18%;
      margin-top: 5px;
    }
  }
  .reg-form {
    text-align: left;
    width: 65%;
    margin-left: 20%;
    margin-top: 50px;
    h4 {
      font-weight: bold;
      font-size: 20px;
      line-height: 24px;
      color: #114c55;
    }
    form {
      fieldset {
        margin-top: 30px;
        input {
          width: 250px;
          border: none;
          border-bottom: 1px solid #595759;
          margin-right: 30px;
          margin-bottom: 30px;
          font-size: 24px;
          color: #595759;
          line-height: 31px;
          
        }
        input:focus {
          outline: none
        }
      }
      button {
        border: 1px solid #c73642;
        border-radius: 7px;
        width: 283px;
        height: 51px;
        font-weight: bold;
        font-size: 14px;
        line-height: 18px;
        color: #c73642;
        background: white;
        // margin-left: 70%;
        margin-top: 50px;
        margin-bottom: 20px;
      }
    }
  }
}
.success-message {
  .button {
    font-family: $font-family;
    font-size: 1rem;
    font-weight: 600;
    border: none;
    color: white;
    background-color: $deep-red;
    padding: 5px 20px;
    border-radius: 7px;
    margin-top: 20px;
  }

    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 40px;
    align-items: center;
    height: calc(100vh - 282px);

}

/* ====================== 
   React Dropdown custom styles *important
*/

.dropdownRoot {
  position: relative;
  border-bottom: 1px solid transparent;
  margin-right: 30px;
  font-size: 24px;
  color: #595759;
  line-height: 31px;
  width: 250px; 
}

.dropdownRoot span {
  margin: -3px 0px 0px 1px; 
}

.dropdownRoot div {
  border: 1px solid transparent;
  padding: 1px 0px 0px 1px; 
}


/* ========================== */
