//Imports

@import '../../styles/variables';

// Footer
@import './components/Footer.scss';

// Header
@import './components/Header.scss';

@import './components/Home.scss';
@import './components/CourseStructure.scss';
@import './components/ContactUs.scss';
@import './components/Registration.scss';
@import './components/CoursesAndRegistration.scss';
@import './components/AboutAndContact.scss';

// Global Styles

.content {
    min-height: calc(100vh - 300px); // determine exact value later
    h1 {
        text-align: center;
    }
}

section {
    text-align: left;
    padding: 1rem;
}

.section-even, .section-odd {
    text-align: center;

    // width: 100vw;
    margin-left: -1rem;
}

.section-even{
    background-color: $heading-bg-one;
}

.section-odd{
    background-color: $heading-bg-two;
}

.two-column {
    display: flex;
    justify-content: space-between;
    align-items: center;
    

    margin-bottom: 1rem;
    
}

.two-column-left, .two-column-right {
    width: 45vw;
}
