@import ".././../../styles/variables";

.footer-grass {
    margin: 0;
    border: 5px solid $tree-light-green;
}

.tree {
    width: 30%;
    display: flex;
    margin-bottom: -2%;

    @media #{$desktop} {
        width: 10%;
        margin-bottom: -.5%;
    }
}

footer {
    
    height: 50px;

    background-color: $footer-bg-color;

    .social-media-icons {

        width: 50vw;
        height: 100%;

        display: flex;
        align-items: center; 
        margin: 0% auto;
        justify-content: space-around;

        @media #{$desktop} {
            margin: 0% auto;
            justify-content: space-around;
        }
    }
    
    img {
        width: 25px;
    }
}
