@import '../../../styles/variables';
@import '../../../styles/mixins';



.knowledge{
    height: 30vh;
    background:linear-gradient(rgba(8, 46, 62, 0.75) 10%, rgba(11, 71, 97, 0.3) 30%), url('../../../assets/hero-image.jpg');
    background-position: 50% 40%;
    background-repeat: no-repeat;
    background-size: cover;

    @media #{$desktop} {
        height: 80vh;
    }
    
    h1{
        padding-top: 3%;
        font-size: 2.5rem;
        color:white;

        @media #{$desktop} {
            font-size: 5.5rem;
            padding: 2% 5%;
        }
    }
}

.knowledge-buttons{
        margin: 5% 0;

        a {
            font-family: $font-family;
            color: white;
            font-size: 1.3rem;
            font-weight: 600;
            border: none;
            background-color: $button-green;
            padding: 11px 7%;
            border-radius: 7px;
            margin: 0 6%;
        }

        @media #{$desktop} {
            text-align: center;
            a {
                padding: 20px 7%;
            }
        }
    }

.why-special{
    margin-top: 3%;
    
    h2{
        font-size: 3.5rem;
        text-align: center;

        // text-decoration: underline solid $tree-peacock;
    }

    h3{
        text-align: center;
        font-size: 1.5rem;
        font-weight: 900;
        color:black;
        margin: 1% auto;
    }
    
    p{
        font-size: 1.5rem;
        color: black;
    }

    .special-container {
        @media #{$desktop} {
            display: flex;
        }
    }

}

.learn-from-best{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;

    @media #{$desktop} {
        flex-direction: column;
        align-items: center;
    }

    h3 {
        @media #{$desktop} {
            margin: 3%;
        }
    }
    
    p{
        padding-top: 1%;
        width: 40%;
        text-align: left;

        @media #{$desktop} {
            text-align: center;
            width: 50%;
            margin: 1%;
        }
    }
    img{
        width: 40%;
        border-radius: 10px;

        @media #{$desktop} {
            width: 50%;
        }
    }
}

.fun {
    @media #{$desktop} {
        text-align: center;
    }

    h3{
        margin: 3% 0;
        @media #{$desktop} {
            margin-bottom: 3%;
        }
    }

    img{
        width: 100%;
        margin: 3% 0;
        border-radius: 10px;

        @media #{$desktop} {
            width: 50%;
            margin: 0%;
        }
    }
}

.afford{
    background: url('../../../assets/plant-growing-from-jar-of-coins.jpg');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 8% 0;
    text-align: left;

    @media #{$desktop} {
        background: url('../../../assets/plant-growing-from-jar-of-coins.jpg');
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 10% 0;
        text-align: left;
        height: 60vh;
    }

    h2 {
        @media #{$desktop} {
            font-size: 4rem;
        }
    }

    p{
        font-size: 1.5rem;
        font-weight: 700;

        @media #{$desktop} {
            font-size: 2.5rem;
        }
    }
    .afford-text{
        width: 30%;
        margin-left: 55%;
    }
}

.kinder{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    img{
        width: 45%;
    }
    h2{
        width: 45%;
    }
}

