@import "../../../../styles/_variables";

.contact-us {
  top: 120px;
  width: 100%;
  font-family: "Mada", sans-serif;
  font-style: normal;

  header {
    border-bottom: 4px solid #1d8695;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 62px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 40px;
    margin-bottom: 30px;

    h1 {
      font-weight: normal;
      font-size: 48px;
      line-height: 62px;
      color: #2b2b2b;
      margin-bottom: 0;
    }

  }

  .body {
    display: flex;
    flex-direction: row;
    text-align: left;
    padding-left: 15%;

    .img-container {
      padding-left: 10%;
    }

    .contact-container {
      display: flex;
      flex-direction: row;
      align-items: center;

      p {
        font-size: 24px;
        line-height: 47px;
      }

      img {
        width: 40px;
        height: 40px;
      }
    }

    h2 {
      font-size: 35px;
      font-weight: bold;
      color: #2b2b2b;
    }

    p {
      font-weight: normal;
      font-size: 21px;
      line-height: 27px;
      margin-left: 4%;
      color: #2b2b2b;
    }

    .body-left {
      width: 50%;
      padding: 15px;
      
      h2 {
        margin-left: 15%;
        line-height: 52px;
      }
    }

    .body-right {
      width: 50%;
      padding: 15px;

      h2 {
        margin-left: 15%;
        line-height: 52px;
      }

     

      .contact-container {
        margin-left: 0;
      }
    }
  }

  img {
    width: 35%;
    height: 25%;
    margin: 15px;
  }
}
