// primary colors
$main-blue: #082E3E;

$main-red: #EA3F4C;



//secondary colors
$main-shadow: #3A5360;
$main-teal: #249FB0;

//basic grey shades
$main-gray: #D7D4D8;


// Status colors


//media queries
$mobile: 'only screen and (max-width:500px)';
$tablet: 'only screen and (max-width:1200px)';
$tablet-small: 'only screen and (max-width:800px)';
$tablet-short: 'only screen and (max-height:550px)';
$desktop: 'only screen and (min-width:1200px)';